.main-section{
    background: var(--color-1);
    height: 702px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid var(--color-2);
}

.main-section .main-title{
    margin-bottom: 60px;
}

.main-section.-bgBlack{
    background-color: black;
    height: 520px;
}

.main-section.-bdFirst{
    border-color: var(--color-1);
}

.main-section .wrapper-projects{
    width: 1093px;
    height: 280px;
    margin: auto;
}